# yarn
.yarn/*
!.yarn/plugins
!.yarn/releases

# development
dist
node_modules
.nuxt
.nitro
.cache
.output
.env
*.log*

# cypress
cypress/downloads
cypress/screenshots
cypress/videos

# unlighthouse
.unlighthouse
