*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  display: block;
}

::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 62.5%;
  display: block;
  min-height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: hidden;
  font-family: "Lexend Deca", Arial, sans-serif !important;
}

body {
  font-size: 1.6rem;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  -ms-scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(var(--v-theme-primary)) !important;
  font-family: Cartesian, serif !important;
}

p,
a,
span {
  color: rgb(var(--v-theme-primary)) !important;
}
