name: Continuous Integration

run-name: 'ci(helix): continuous integration'

on: [merge_group, pull_request, workflow_dispatch]

jobs:
  workflow:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout Codebase
        uses: actions/checkout@v6

      - name: Extract Node Version
        id: node-version
        run: |
          NODE_VERSION=$(jq -r '.engines.node' package.json)
          echo "version=$NODE_VERSION" >> $GITHUB_OUTPUT

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ steps.node-version.outputs.version }}

      - name: Cache Dependencies
        uses: actions/cache@v5
        with:
          path: |
            .yarn/cache
            node_modules
            ~/.cache/Cypress
          key: ${{ runner.OS }}-helix-yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.OS }}-helix-yarn-

      - name: Install Dependencies
        run: yarn install

      - name: Prepare Environment
        run: yarn nuxt prepare

      - name: Run Prettier
        run: yarn prettier

      - name: Run ESLint
        run: yarn eslint

      - name: Run Stylelint
        run: yarn stylelint

      - name: Bundle Application
        run: make build

      - name: Run Cypress
        uses: cypress-io/github-action@v6
        with:
          browser: chrome
          command: yarn cypress
          install: false
          start: make serve
          wait-on: 'http://localhost:3000/'
          wait-on-timeout: 60
